<h1>New purchase details</h1>

<p>User <%= @user.name %> just purchased the following items.</p>

<table style="text-align: left">
  <thead>
    <th>Product Name</th>
    <th>Amount</th>
    <th>Price</th>
    <th>Total Price</th>
  </thead>
  <tbody>
    <% @purchase.purchase_products.each do |pp| %>
      <tr>
        <td>
          <%= pp.product.name %>
        </td>
        <td>
          <%= pp.amount %>
        </td>
        <td>
          <%= pp.product.current_price %>
        </td>
        <td>
          <%= pp.product.current_price * pp.amount %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<p>Purchase total: $<%= @purchase.get_total %></p>

<p>When you verify the payment, confirm the purchase at this link: </p>
