<h1>
  <strong>Welcome, <%= @user.username %> (<%= @user.email %>)!</strong>
  <span class="actions">
    <% if (not current_user.role.name == "admin") or current_user.id == @user.id %>
      <%= link_to cart_path do %>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <% end %>
    <% end %>
    <%= link_to edit_user_path(@user) do %>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    <% end %>
  </span>
</h1>

<% if not @user.purchases.empty? %>
  <h2>Purchases</h2>
  <table>
    <thead>
      <th>Number</th>
      <th>Date</th>
      <th>Products</th>
      <th>Price</th>
    </thead>
    <tbody>
      <% count = 0 %>
      <% @user.purchases.each do |p| %>
        <tr>
          <td>
            <%= link_to "#{count += 1}", p, class: "table-link" %>
          </td>
          <td>
            <%= p.created_at %>
          </td>
          <td>
            <%= p.nproducts %>
          </td>
          <td>
            <%= p.get_total %>
          </td>
          <% if current_user.role.name == "admin" %>
            <td class="actions">
              <%= link_to p, method: :delete, data: { confirm: 'Are you sure?' }  do %>
               <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>

    </tbody>
  </table>
<% elsif (not current_user.role.name == "admin") or current_user.id == @user.id %>
  <p>You have not purchased anything, go <%= link_to "shop", products_path, class: "inline-link" %> now!</p>
<% else %>
  <p>This user has not purchased anything yet.</p>
<% end %>

<%= link_to 'Back', users_path, class: "actions" %>
