<h1>
  <strong>Welcome, <%= @user.username %> (<%= @user.email %>)!</strong>
</h1>

<% if not @user.purchases.empty? %>
  <h2>Purchases</h2>
  <table>
    <thead>
      <th>Number</th>
      <th>Date</th>
      <th>Products</th>
      <th>Price</th>
    </thead>
    <tbody>
      <% count = 0 %>
      <% @user.purchases.each do |p| %>
        <tr>
          <td>
            <%= link_to "#{count += 1}", p %>
          </td>
          <td>
            <%= p.created_at %>
          </td>
          <td>
            <%= p.nproducts %>
          </td>
          <td>
            <%= p.get_total %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
<% elsif not current_user.role.name == "admin" %>
  <p>You have not purchased anything, go <%= link_to "shop", products_path, class: "inline-link" %> now!</p>
<% else %>
  <p>This user has not purchased anything yet.</p>
<% end %>

<% if not current_user.role.name == "admin" %>
  <%= link_to 'Cart', cart_path, class: "actions" %>
<% end %>
<%= link_to 'Edit', edit_user_path(@user), class: "actions" %>
<%= link_to 'Back', users_path, class: "actions" %>
