<h1>Your Cart</h1>

<table>
  <thead>
    <th>Product Name</th>
    <th>Amount</th>
    <th>Price</th>
    <th>Total Price</th>
  </thead>
  <tbody>
    <% @user.carts.each do |c| %>
      <tr>
        <td>
          <%= link_to "#{c.product.name}", c.product %>
        </td>
        <td>
          <%= c.amount %>
        </td>
        <td>
          <%= c.product.price %>
        </td>
        <td>
          <%= c.product.price * c.amount %>
        </td>
        <td>
          <%= link_to "Remove", destroy_cart_path(c.user, c), method: :delete %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<%= form_tag("/purchases", method: "POST") do %>
  <%= submit_tag("Purchase Now!!!") %>
<% end %>
