<div class="grid">
  <div class="col-1-3">
    <% i = 0 %>
    <% products.each do |p| %>
      <% if i == 0 %>
      <div class="grid-item" data-product-id="<%= p.id %>">
          <% if p.image.file.nil? %>
            <%= link_to p, class: "product-image" do %>
              <%= image_tag("no_image_icon.png", class: 'thumbnail') %>
            <% end %>
          <% else %>
            <%= link_to p, class: "product-image" do %>
              <%= image_tag(p.image.to_s, class: 'thumbnail') %>
            <% end %>
          <% end %>
          <h3><%= p.name %></h3>
          <p><%= p.description %></p>
          <div class="grid-item-price-stock">
            <div class="grid-item-price">
              <span class="current-price">Price: $<%= p.current_price %></span>
              <% if p.original_price > p.current_price %>
                <span class="original-price">$<%= p.original_price %></span>
              <% end %>
            </div>
            <div class="grid-item-stock">Stock: <%= p.stock %></div>
          </div>
          <div class="actions">
            <%= link_to p do %>
              <i class="fa fa-search fa-2x" aria-hidden="true"></i>
            <% end %>
            <% if current_user && current_user.role.name == "admin" %>
              <%= link_to edit_product_path(p) do %>
               <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
              <% end %>
              <%= link_to p, method: :delete, data: { confirm: 'Are you sure?' }, remote: true  do %>
               <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% i = (i + 1) % 3 %>
    <% end %>
  </div>
  <div class="col-1-3">
    <% i = 0 %>
    <% products.each do |p| %>
      <% if i == 1 %>
      <div class="grid-item" data-product-id="<%= p.id %>">
          <% if p.image.file.nil? %>
            <%= link_to p, class: "product-image" do %>
              <%= image_tag("no_image_icon.png", class: 'thumbnail') %>
            <% end %>
          <% else %>
            <%= link_to p, class: "product-image" do %>
              <%= image_tag(p.image.to_s, class: 'thumbnail') %>
            <% end %>
          <% end %>
          <h3><%= p.name %></h3>
          <p><%= p.description %></p>
          <div class="grid-item-price-stock">
            <div class="grid-item-price">
              <span class="current-price">Price: $<%= p.current_price %></span>
              <% if p.original_price > p.current_price %>
                <span class="original-price">$<%= p.original_price %></span>
              <% end %>
            </div>
            <div class="grid-item-stock">Stock: <%= p.stock %></div>
          </div>
          <div class="actions">
            <%= link_to p do %>
              <i class="fa fa-search fa-2x" aria-hidden="true"></i>
            <% end %>
            <% if current_user && current_user.role.name == "admin" %>
              <%= link_to edit_product_path(p) do %>
               <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
              <% end %>
              <%= link_to p, method: :delete, data: { confirm: 'Are you sure?' }, remote: true  do %>
               <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% i = (i + 1) % 3 %>
    <% end %>
  </div>
  <div class="col-1-3">
    <% i = 0 %>
    <% products.each do |p| %>
      <% if i == 2 %>
        <div class="grid-item" data-product-id="<%= p.id %>">
          <% if p.image.file.nil? %>
            <%= link_to p, class: "product-image" do %>
              <%= image_tag("no_image_icon.png", class: 'thumbnail') %>
            <% end %>
          <% else %>
            <%= link_to p, class: "product-image" do %>
              <%= image_tag(p.image.to_s, class: 'thumbnail') %>
            <% end %>
          <% end %>
          <h3><%= p.name %></h3>
          <p><%= p.description %></p>
          <div class="grid-item-price-stock">
            <div class="grid-item-price">
              <span class="current-price">Price: $<%= p.current_price %></span>
              <% if p.original_price > p.current_price %>
                <span class="original-price">$<%= p.original_price %></span>
              <% end %>
            </div>
            <div class="grid-item-stock">Stock: <%= p.stock %></div>
          </div>
          <div class="actions">
            <%= link_to p do %>
              <i class="fa fa-search fa-2x" aria-hidden="true"></i>
            <% end %>
            <% if current_user && current_user.role.name == "admin" %>
              <%= link_to edit_product_path(p) do %>
               <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
              <% end %>
              <%= link_to p, method: :delete, data: { confirm: 'Are you sure?' }, remote: true  do %>
               <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% i = (i + 1) % 3 %>
    <% end %>
  </div>
</div>
