<div class="grid">
  <div class="col-1-3">
    <% i = 0 %>
    <% @products.each do |p| %>
      <% if i == 0 %>
        <div class="grid-item">
          <% if p.image.file.nil? %>
            <%= link_to p, class: "product-image" do %>
              <%= image_tag("no_image_icon.png", class: 'thumbnail') %>
            <% end %>
          <% else %>
            <%= link_to p, class: "product-image" do %>
              <%= image_tag(p.image.to_s, class: 'thumbnail') %>
            <% end %>
          <% end %>
          <h3><%= p.name %></h3>
          <p><%= p.description %></p>
          <div class="grid-item-price">Price: $<%= p.price %></div>
          <div class="grid-item-stock">Stock: <%= p.stock %></div>
          <span class="actions">
            <%= link_to p do %>
              <i class="fa fa-search fa-2x" aria-hidden="true"></i>
            <% end %>
            <% if current_user && current_user.role.name == "admin" %>
              <%= link_to edit_product_path(p) do %>
               <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
              <% end %>
              <%= link_to p, method: :delete, data: { confirm: 'Are you sure?' }  do %>
               <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </span>
        </div>
      <% end %>
      <% i = (i + 1) % 3 %>
    <% end %>
  </div>
  <div class="col-1-3">
    <% i = 0 %>
    <% @products.each do |p| %>
      <% if i == 1 %>
        <div class="grid-item">
          <% if p.image.file.nil? %>
            <%= link_to p, class: "product-image" do %>
              <%= image_tag("no_image_icon.png", class: 'thumbnail') %>
            <% end %>
          <% else %>
            <%= link_to p, class: "product-image" do %>
              <%= image_tag(p.image.to_s, class: 'thumbnail') %>
            <% end %>
          <% end %>
          <h3><%= p.name %></h3>
          <p><%= p.description %></p>
          <div class="grid-item-price">Price: $<%= p.price %></div>
          <div class="grid-item-stock">Stock: <%= p.stock %></div>
          <span class="actions">
            <%= link_to p do %>
              <i class="fa fa-search fa-2x" aria-hidden="true"></i>
            <% end %>
            <% if current_user && current_user.role.name == "admin" %>
              <%= link_to edit_product_path(p) do %>
               <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
              <% end %>
              <%= link_to p, method: :delete, data: { confirm: 'Are you sure?' }  do %>
               <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </span>
        </div>
      <% end %>
      <% i = (i + 1) % 3 %>
    <% end %>
  </div>
  <div class="col-1-3">
    <% i = 0 %>
    <% @products.each do |p| %>
      <% if i == 2 %>
        <div class="grid-item">
          <% if p.image.file.nil? %>
            <%= link_to p, class: "product-image" do %>
              <%= image_tag("no_image_icon.png", class: 'thumbnail') %>
            <% end %>
          <% else %>
            <%= link_to p, class: "product-image" do %>
              <%= image_tag(p.image.to_s, class: 'thumbnail') %>
            <% end %>
          <% end %>
          <h3><%= p.name %></h3>
          <p><%= p.description %></p>
          <div class="grid-item-price">Price: $<%= p.price %></div>
          <div class="grid-item-stock">Stock: <%= p.stock %></div>
          <span class="actions">
            <%= link_to p do %>
              <i class="fa fa-search fa-2x" aria-hidden="true"></i>
            <% end %>
            <% if current_user && current_user.role.name == "admin" %>
              <%= link_to edit_product_path(p) do %>
               <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
              <% end %>
              <%= link_to p, method: :delete, data: { confirm: 'Are you sure?' }  do %>
               <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </span>
        </div>
      <% end %>
      <% i = (i + 1) % 3 %>
    <% end %>
  </div>
</div>

<br>
<% if current_user && current_user.role.name == "admin" %>
  <%= link_to 'New Product', new_product_path, class: "actions" %>
<% end %>
