<div id="product-details">
  <div id="product-image-cats">
    <div id="product-image">
        <% if @product.image.file.nil? %>
          <%= image_tag "no_image_icon.png" %>
        <% else %>
          <%= image_tag @product.image.to_s %>
        <% end %>
    </div>
    <div id="product-cats">
      <% if not @product.categories.empty? %>
        <h4>Product categories:</h4>
        <ul>
          <% @product.categories.each do |c| %>
            <li class="category-link"><%= link_to c.name, products_path(search: c.id) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div id="product-info">
    <div id="product-title">
      <h1>
        <%= @product.name %>
        <% if current_user && current_user.role.name == "admin" %>
          <%= link_to edit_product_path(@product) do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>
          <%= link_to @product, method: :delete, data: { confirm: 'Are you sure?' }  do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </h1>
    </div>
    <div id="product-desc">
      <%= @product.description %>
    </div>
    <div id="product-price-stock">
      <div id="product-price">
        <span>Price:</span>
        <% if @product.current_price < @product.original_price %>
          <span id="original-price">$<%= @product.original_price %></span>
        <% end %>
        <span id="current-price">$<%= @product.current_price %></span>
      </div>
      <% if @product.stock > 0 %>
        <div id="product-stock" class="in-stock">
          <span>Stock:</span>
          <span id="stock"><%= @product.stock %></span>
        </div>
      <% else %>
        <div id="product-stock" class="out-of-stock">
          <span>Stock:</span>
          <span id="stock"><%= @product.stock %></span>
        </div>
      <% end %>
    </div>
    <div id="product-add-to-cart-form">
      <% if current_user %>
        <%= form_for(@cart, url: update_cart_path) do |f| %>
          <div class="field">
            <%= f.number_field :amount %>
          </div>
          <div class="field">
            <%= f.hidden_field :product_id, :value => @product.id %>
          </div>
          <div class="actions">
            <%= f.submit "Add to Cart" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<table class="comments", id="comments">
<% if @comments.size > 0 %>
    <tr>
      <th>Comment</th>
      <th>User</th>
      <th>Attachment</th>
    </tr>
    <% @comments.each do |c| %>
      <tr <%= "data-comment-id=#{c.id}"%>>
        <td><%= c.content %></td>
        <td><%= c.user.username %></td>
        <td><%= link_to "View", c.attach.url(:original, false), target: :_blank if c.attach.present?%></td>
        <% if (current_user && (current_user.role.name == "admin" || current_user.id == c.user.id)) %>
          <td class="actions">
            <%= link_to edit_product_comment_path(c.product, c) do %>
              <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
            <% end %>
          </td>
          <td class="actions">
            <%= link_to [c.product, c], method: :delete, remote: true, data: {type: 'json', confirm: 'Are you sure?' }  do %>
             <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
<% end %>
</table>

<% if current_user %>
  <%= render 'comment_form', {comment: @comment, product: @product} %>
<% end %>
<%= link_to 'Back', products_path, class: "actions" %>
